@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(components/reset.css);

:root {
  --theme-color: #a7c0be;
  --theme-color-light: #d7d4cc;
  --theme-color-dark: #9ca0a1;
  --theme-color-details: #72584d;
  --theme-color-details-light: #f6f4f4;
  --bg-light: #fbfaf9;
  --bg-dark: #4d6772;
  --text-color: #434343;
  --text-color-dark: #333333;
  --text-color-light: #707070;
  --text-color-white: #f9f9f9;
  --text-size: 16px;
}
* {
  box-sizing: border-box;
  transition: all 0.25s ease;
  cursor: default;
  scroll-behavior: smooth;
}
.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bg-light);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: var(--text-size);
}

/* HEADER */
.header {
  width: 100%;
  height: 75vh;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-color-light);
  padding-top: 55px;
  z-index: 100;
  box-shadow: 0px 2px 10px 0px rgba(156, 160, 161, 0.375);
}
/* NAVBAR MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme-color-light);
  z-index: 10000;
}
.menu:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: transparent;
  opacity: 0;
  transition: all 1.25s ease;
}
.menu.menu_active:before {
  left: 0;
  background: var(--theme-color-details);
  width: 100%;
  opacity: 0.3;
}
.menu-logo {
  width: 150px;
  color: var(--theme-color-details);
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 400;
  padding-right: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-decoration: none;
  cursor: pointer;
}
.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  width: max-content;
}
.menu-link {
  position: relative;
}
.menu-link a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.125rem;
  padding-bottom: 2px;
  cursor: pointer;
}
.menu-link a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  background: var(--theme-color-details);
  transition: all 0.75s ease;
}
.menu-options {
  width: 150px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-options__social {
  display: flex;
  column-gap: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
.menu-options__social a {
  font-size: 1.125rem;
  color: var(--theme-color-details);
}
.menu-options__social i {
  cursor: pointer;
}

.menu-button {
  display: none;
}
/* HEADER CONTAINER */
.header-container {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* HEADER IMAGE */
.header-image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-image__container {
  position: relative;
  width: 225px;
  height: 325px;
  border-radius: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: rotate(25deg);
}
.header-image__container img {
  width: 275px;
  transform: rotate(-25deg);
}
.header-image__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 113px;
  z-index: 200;
  background: transparent;
  box-shadow: inset -1.5px 1.5px 7.5px 1.5px rgba(169, 169, 169, 0.25);
}
/* HEADER CONTENT */
.header-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.header-title {
  width: 45%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.25rem;
  line-height: 1.25;
  font-weight: 250;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.header-subtitle {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header-description {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.15;
  font-weight: 300;
  text-align: justify;
}
.header-description_strong {
  color: var(--text-color-dark);
  font-weight: 400;
}
/* MAIN */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* SECTION */
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(156, 160, 161, 0.375);
}
/* SECTION HEADER */
.section-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto 60px;
  width: 50%;
  max-width: 350px;
  font-size: 2.375rem;
  line-height: 1.25;
  font-weight: 250;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--bg-dark);
}
/* WORK EXPERIENCE */
.section#work-experience {
  box-shadow: 0px 2px 10px 0px rgba(215, 212, 204, 0.75);
  z-index: 90;
}
/* TWO COLUMNS */
.two-columns {
  width: 95%;
  display: flex;
  column-gap: 10%;
  row-gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.two-columns__container {
  display: flex;
  width: 45%;
  justify-content: space-between;
}
.two-columns__container_main {
  width: 55%;
}
.two-columns__container_small {
  width: 30%;
}
.two-columns__date {
  width: 125px;
  color: var(--theme-color-details);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}
.two-columns__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.two-columns__header {
  display: flex;
  flex-direction: column;
}
.two-columns__title {
  color: var(--theme-color-details);
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}
.two-columns__subtitle {
  color: var(--theme-color-details);
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
}
.two-columns__description {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.two-columns__paragraph {
  font-size: 1rem;
  line-height: 1.125;
  text-align: justify;
  color: var(--text-color-light);
}
/* EDUCATION */
.section#education {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--theme-color-dark);
  z-index: 80;
}
/* SIDE HEADER */
.side-header {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.side-header__title {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto 60px;
  max-width: 350px;
  font-size: 2.375rem;
  line-height: 1.25;
  font-weight: 250;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--text-color-white);
}
.side-header__decorator {
  width: 75%;
  margin: 0 auto;
}
.side-header__decorator_bg {
  fill: var(--text-color-white);
}
.side-header__decorator_line {
  fill: none;
  stroke: var(--theme-color-details);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
/* TABLE */
.table {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 60px;
  margin: 20px auto;
}
.table-container {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.table-container_full {
  width: 100%;
}
.table-container__title {
  color: var(--text-color-white);
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}

.table-container__subtitle {
  color: var(--text-color-white);
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
}
.table-container__detail {
  color: var(--text-color-white);
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
}
.table-container__detail span {
  border-right: var(--theme-color-details-light) 1px solid;
  padding-right: 10px;
  margin-right: 5px;
}
.table-container__description {
  margin-top: 10px;
  text-align: justify;
  color: var(--theme-color-details-light);
  font-size: 1rem;
  line-height: 1.15;
  font-weight: 300;
}
.table-container__description_detail {
  color: var(--text-color-white);
  font-weight: 400;
}
/* SKILLS & LANGUAGES */
.section#skills-languages {
  padding-top: 90px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 60px;
  z-index: 70;
  box-shadow: none;
}
#skills-languages .side-header {
  width: 45%;
}
#skills-languages .side-header__title {
  color: var(--bg-dark);
}
/* BULLET LIST */
.bullet-list {
  width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.bullet-list_full {
  width: 85%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 10%;
}
.bullet-list__item {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.bullet-list_full .bullet-list__item {
  width: 20%;
}
.bullet-list__detail {
  color: var(--theme-color-details);
  border: var(--theme-color-details) 1px solid;
  border-radius: 50%;
  padding: 7.5px;
  font-weight: 500;
}

.bullet-list__language,
.bullet-list__skill {
  font-size: 1.125rem;
}
.bullet-list__item i {
  font-size: 2rem;
  color: var(--theme-color-details);
}
/* PROJECTS */
.section#projects {
  box-shadow: none;
}
.project-cards {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
.project-card {
  width: 100%;
  display: flex;
  column-gap: 40px;
  text-decoration: none;
}
.project-card__image {
  position: relative;
  width: 400px;
  padding: 5px;
  border: 1px solid var(--theme-color-details);
  box-shadow: 0px 2px 5px 0px rgba(156, 160, 161, 0.35);
  border-radius: 2px;
}

.project-card__container {
  width: 65%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.project-card__title {
  font-size: 1.375rem;
  color: var(--theme-color-details);
  font-weight: 700;
}
.project-card__skills {
  display: flex;
  column-gap: 10px;
}
.project-card__skill {
  width: 65px;
  position: relative;
  color: var(--theme-color-details);
  border: 1px solid var(--theme-color-details);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 2px;
  z-index: 10;
  border-radius: 2px;
}

.project-card__description {
  color: var(--text-color);
  text-align: justify;
}
/* CONTACT ME */
.section#contact-me {
  background: var(--bg-dark);
  padding: 60px 100px;
}
.section#contact-me .section-header {
  color: var(--text-color-white);
}
.section#contact-me .two-columns {
  align-items: flex-start;
}
/* CONTACT LIST */
.contact__list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  font-size: 1.125rem;
}
.contact__list.contact__list_social {
  flex-direction: row;
  column-gap: 15px;
  font-size: 1.25rem;
}
.contact__item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--text-color-white);
}
.contact__item a {
  color: var(--text-color-white);
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 10px;
  cursor: pointer;
}
.contact__item a i {
  cursor: pointer;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0px 20px;
  width: 75%;
}
.contact-form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-color-white);
}
.contact-form__input label {
  text-transform: uppercase;
  letter-spacing: 4.5px;
}
.contact-form__input input {
  margin-top: 5px;
  margin-bottom: 2.5px;
  height: 30px;
  cursor: text;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 5px;
}
.contact-form__input textarea {
  margin-top: 5px;
  margin-bottom: 2.5px;
  height: 150px;
  min-height: 150px;
  max-height: 250px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  cursor: text;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 5px;
  scrollbar-color: var(--bg-dark) transparent;
  scrollbar-width: thin;
}
.contact-form__error {
  height: 15px;
  font-size: 0.875rem;
  color: #ff9999;
}
.contact-form__button {
  width: 100%;
  opacity: 1;
  margin: 0 auto;
  background: var(--text-color-white);
  border-radius: 6px;
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  transform: translateY(3px);
  box-shadow: 0px 2px 5px 0px rgba(156, 160, 161, 0.35);
}
.contact-form__error_hidden {
  width: 0px;
  opacity: 0;
}

.contact-form__popup {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 0;
  height: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-light);
  color: var(--text-color);
  padding: 0px 20px;
  visibility: hidden;
  border-radius: 40px;
  font-size: 0rem;
  box-shadow: 0px 2px 5px 0px rgba(156, 160, 161, 0.35);
}
.contact-form__popup_sent {
  bottom: 20px;
  right: 20px;
  width: 200px;
  height: 50px;
  opacity: 1;
  font-size: 1rem;
  visibility: visible;
}
/* FORM IFRAME */
#form-iframe {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 40px 0;
  background: var(--bg-dark);
  color: var(--text-color-white);
  font-size: 0.875rem;
}
@media (max-width: 1075px) {
  .menu-link a {
    font-size: 0.875rem;
  }
  .menu-options__social a {
    font-size: 1rem;
  }
  .header-container {
    width: 95%;
  }
  .header-image__container {
    width: 150px;
    height: 250px;
  }
  .header-image__container img {
    width: 200px;
  }
  .header-title {
    font-size: 2.25rem;
  }
  .header-subtitle {
    font-size: 1rem;
  }
  .header-description {
    font-size: 0.875rem;
  }
  .two-columns__date {
    font-size: 0.875rem;
    width: 105px;
  }
  .section-header,
  .side-header__title {
    font-size: 1.75rem;
    margin: 20px auto 30px;
  }
  .side-header__decorator {
    width: 50%;
  }
  .two-columns__title,
  .two-columns__subtitle,
  .two-columns__paragraph {
    font-size: 0.875rem;
  }
  .table-container__title {
    font-size: 0.875rem;
  }
  .table-container__subtitle,
  .table-container__detail {
    font-size: 0.688rem;
  }
  .table-container__description {
    font-size: 0.75rem;
  }
  .bullet-list__language,
  .bullet-list__skill {
    font-size: 0.875rem;
  }
  .bullet-list__detail {
    font-size: 0.875rem;
    padding: 5px;
  }
  .bullet-list_full {
    width: 95%;
  }
  .bullet-list__item i {
    font-size: 1.75rem;
  }
  .project-cards {
    width: 95%;
  }
  .project-card__image {
    width: 250px;
  }
  .project-card__title,
  .project-card__skill {
    font-size: 0.875rem;
  }
  .project-card__description {
    font-size: 0.75rem;
  }
  .section#contact-me .two-columns {
    justify-content: center;
    align-items: center;
    row-gap: 40px;
  }
  .section#contact-me .two-columns__container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .contact__item {
    justify-content: center;
    font-size: 0.875rem;
  }
  .contact__list_social {
    justify-content: center;
  }
  .contact__list_social .contact__item {
    font-size: 1.125rem;
  }
  .contact-form__input label {
    font-size: 0.875rem;
  }
  .contact-form__error,
  .contact-form__input input,
  .contact-form__input textarea {
    font-size: 0.75rem;
  }
  .footer {
    font-size: 0.75rem;
  }
  @media (max-width: 915px) {
    .menu {
      justify-content: center;
    }
    .menu-logo {
      display: none;
    }
    .menu-options {
      display: none;
    }
    .header {
      min-height: 355px;
    }
    .header-image {
      display: none;
    }
    .header-content {
      width: 75%;
    }
    .section#work-experience .two-columns__container {
      width: 100%;
    }
    .section#education {
      flex-direction: column;
    }
    .section#education .side-header {
      width: 100%;
      flex-direction: row;
    }
    .side-header__decorator {
      display: none;
    }
    .table {
      width: 90%;
      row-gap: 40px;
    }
    .table-container {
      width: 100%;
    }
    .section#contact-me {
      padding: 20px 50px;
    }
    @media (max-width: 745px) {
      .menu {
        padding: 0 20px;
        justify-content: space-between;
      }
      .menu.menu_open {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        row-gap: 60px;
      }
      .menu-logo {
        display: flex;
      }
      .menu_open .menu-logo {
        display: flex;
        justify-content: center;
        padding: 0;
      }
      .menu-links {
        display: none;
      }
      .menu_open .menu-links {
        display: flex;
        row-gap: 20px;
        flex-direction: column;
      }
      .menu_open .menu-options,
      .menu_open .menu-options__social {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
      }
      .menu-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5px;
        cursor: pointer;
        width: 20px;
        height: 25px;
      }
      .menu-button__line {
        width: 20px;
        height: 1px;
        background: var(--theme-color-details);
      }
      .menu_open .menu-button {
        position: absolute;
        top: 20px;
        right: 20px;
      }
      .menu_open .menu-button__line {
        transform: rotate(-45deg);
      }
      .menu_open .menu-button__line:first-of-type {
        display: none;
      }
      .menu_open .menu-button__line:last-of-type {
        position: absolute;
        transform: rotate(45deg);
      }
      .two-columns {
        width: 100%;
      }
      .table {
        width: 100%;
      }
      .section#skills-languages {
        row-gap: 60px;
      }
      .section#skills-languages .side-header {
        width: 100%;
      }
      .section#skills-languages .side-header__title {
        margin-bottom: 0px;
      }
      .bullet-list:not(.bullet-list_full) {
        width: 40%;
        min-width: 225px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
      }
      .bullet-list.bullet-list_full {
        width: 75%;
        justify-content: space-between;
      }
      .bullet-list_full .bullet-list__item {
        width: 140px;
      }
      .project-cards {
        width: 100%;
        margin-top: 20px;
        row-gap: 60px;
      }
      .project-card {
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
      }
      .project-card__image {
        width: 100%;
      }
      .project-card__container {
        width: 100%;
      }
      .section#contact-me {
        padding: 50px 20px;
      }
      .contact-form {
        width: 100%;
        padding: 0;
      }
      @media (max-width: 465px) {
        .header-content {
          width: 100%;
        }
        .section {
          padding-top: 20px;
        }
        .header-title {
          font-size: 1.75rem;
        }
        .header-subtitle {
          font-size: 0.875rem;
        }
        .header-description {
          font-size: 0.75rem;
        }
        .section-header,
        .side-header__title {
          font-size: 1.25rem;
        }
        .two-columns__date,
        .two-columns__title,
        .two-columns__subtitle,
        .two-columns__paragraph,
        .table-container__title,
        .project-card__skill {
          font-size: 0.75rem;
        }
        .two-columns__paragraph,
        .table-container__description {
          font-size: 0.688rem;
        }
        .footer {
          height: fit-content;
        }
        .footer__copyright {
          width: 75%;
          text-align: center;
        }
      }
    }
  }
}
@media only screen and (hover: hover) and (pointer: fine) {
  .menu-link:hover a:after {
    width: 100%;
    opacity: 0.5;
  }
  .menu-link:hover a {
    color: var(--theme-color-details);
  }
  .menu-options__social a:hover {
    opacity: 0.5;
  }
  .bullet-list__item:hover {
    opacity: 0.8;
  }
  .bullet-list__item:hover .bullet-list__detail {
    background: var(--theme-color-details);
    color: var(--text-color-white);
  }
  .project-card:hover .project-card__image {
    background: var(--theme-color-details);
    box-shadow: 0px 2px 7.5px 0px rgba(156, 160, 161, 0.75);
  }
  .project-card:hover .project-card__skill {
    color: var(--text-color-white);
    background: var(--theme-color-details);
  }
  .contact__item:hover {
    opacity: 0.75;
  }
  .contact-form__button:hover {
    transform: translateY(0);
    box-shadow: 0px 2px 7.5px 0px rgba(156, 160, 161, 0.75);
  }
}
