@import url('./components/normalize.css');
@import url('./components/fonts.css');

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: #ffffff;
}
.page {
  display: flex;
  flex-direction: column;
}
/* HEADER */
.header {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(../images/header__background.jpg) no-repeat center, rgb(55, 55, 55, 0.35);
  background-blend-mode: multiply;
  background-size: cover;
  filter: grayscale(1);
}
.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 25px;
  z-index: 10;
}
.header__image {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 25px;
}
.header__avatar {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  z-index: 10;
}
.header__avatar-decorator {
  position: absolute;
  right: -2.5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 49%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 160px;
  height: 160px;
  z-index: 5;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.header__title {
  margin: 35px 0 15px;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
}
.header__subtitle {
  font-size: 18px;
  line-height: 29px;
}
.header__decorator {
  font-family: 'Montserrat', sans-serif;
  font-size: 35em;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  margin: 0;
  z-index: 5;
  opacity: .35;
}
.logo__title {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.logo__decorator {
  position: absolute;
  font-size: 35em;
  top: -275%;
  opacity: 0.3;
  font-weight: 900;
  transform: scale(1.15, 1);
  font-family: 'Montserrat', sans-serif;
  z-index: 5;
}

/* MENU */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  z-index: 10;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.menu__title {
  font-size: 24px;
  line-height: 36px;
  position: relative;
}
